<a href="https://colab.research.google.com/github/luluatina/Praktikum-Big-Data-3/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.  Pengenalan Spark DataFrames

Tugas 1

In [1]:
from pyspark.sql import SparkSession

# Membuat SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

# Data awal + tambahan
data = [
    ('James', 'Sales', 3000),
    ('Michael', 'Sales', 4600),
    ('Robert', 'Sales', 4100),
    ('Maria', 'Finance', 3000),
    ('Rani', 'Finance', 3300),
    ('Ali', 'IT', 4000),
    ('Siti', 'IT', 4500),
    ('Budi', 'HR', 3900),
    ('Citra', 'HR', 3500),
    ('Dina', 'Marketing', 4200),
    ('Andi', 'Marketing', 3700)
]

# Kolom DataFrame
columns = ['EmployeeName', 'Department', 'Salary']

# Membuat DataFrame
df = spark.createDataFrame(data, schema=columns)

# Menampilkan isi DataFrame
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
|        Rani|   Finance|  3300|
|         Ali|        IT|  4000|
|        Siti|        IT|  4500|
|        Budi|        HR|  3900|
|       Citra|        HR|  3500|
|        Dina| Marketing|  4200|
|        Andi| Marketing|  3700|
+------------+----------+------+

# 2. Transfromasi Dasar dengan DataFrames

Tugas 2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Membuat SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

# Data awal + tambahan
data = [
    ('James', 'Sales', 3000),
    ('Michael', 'Sales', 4600),
    ('Robert', 'Sales', 4100),
    ('Maria', 'Finance', 3000),
    ('Rani', 'Finance', 3300),
    ('Ali', 'IT', 4000),
    ('Siti', 'IT', 4500),
    ('Budi', 'HR', 3900),
    ('Citra', 'HR', 3500),
    ('Dina', 'Marketing', 4200),
    ('Andi', 'Marketing', 3700)
]

# Kolom DataFrame
columns = ['EmployeeName', 'Department', 'Salary']

# Membuat DataFrame
df = spark.createDataFrame(data, schema=columns)

# Menampilkan isi DataFrame
df.show()

# 1. Operasi SELECT -> memilih kolom tertentu
df.select("EmployeeName", "Salary").show()

# 2. Operasi FILTER -> menampilkan karyawan dengan gaji lebih dari 4000
df.filter(df.Salary > 4000).show()

# 3. Operasi GROUPBY + MEAN -> rata-rata gaji per departemen
df.groupBy("Department").agg(F.mean("Salary").alias("Average_Salary")).show()

# 4. Operasi GROUPBY + MAX -> gaji tertinggi per departemen
df.groupBy("Department").agg(F.max("Salary").alias("Max_Salary")).show()

# 5. Operasi GROUPBY + SUM -> total gaji per departemen
df.groupBy("Department").agg(F.sum("Salary").alias("Total_Salary")).show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
|        Rani|   Finance|  3300|
|         Ali|        IT|  4000|
|        Siti|        IT|  4500|
|        Budi|        HR|  3900|
|       Citra|        HR|  3500|
|        Dina| Marketing|  4200|
|        Andi| Marketing|  3700|
+------------+----------+------+

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
|        Rani|  3300|
|         Ali|  4000|
|        Siti|  4500|
|        Budi|  3900|
|       Citra|  3500|
|        Dina|  4200|
|        Andi|  3700|
+------------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|        Siti|        IT|  4500|
|        Dina| Marketing|  4200|
+------------+----------+------+

+----------+--------------+
|Department|Average_Salary|
+----------+--------------+
|     Sales|        3900.0|
|   Finance|        3150.0|
|        HR|        3700.0|
| Marketing|        3950.0|
|        IT|        4250.0|
+----------+--------------+

+----------+----------+
|Department|Max_Salary|
+----------+----------+
|     Sales|      4600|
|   Finance|      3300|
|        HR|      3900|
| Marketing|      4200|
|        IT|      4500|
+----------+----------+

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|     Sales|       11700|
|   Finance|        6300|
|        HR|        7400|
| Marketing|        7900|
|        IT|        8500|
+----------+------------+

# 3. Bekerja dengan Tipe Data Kompleks

Tugas 3

1. ArrayType

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType
from pyspark.sql import functions as F

# Tambahkan data dengan kolom skill (Array)
data_complex = [
    ('James', 'Sales', 3000, ['Negotiation', 'Communication']),
    ('Michael', 'Sales', 4600, ['Presentation']),
    ('Robert', 'Sales', 4100, ['Networking', 'Communication']),
    ('Maria', 'Finance', 3000, ['Accounting', 'Excel']),
    ('Siti', 'IT', 4500, ['Python', 'Spark', 'SQL'])
]

# Definisikan schema dengan ArrayType
schema = StructType([
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Skills", ArrayType(StringType()), True)
])

# Membuat DataFrame
df_complex = spark.createDataFrame(data_complex, schema=schema)

# Menampilkan DataFrame
df_complex.show(truncate=False)

# Operasi explode -> "meledakkan" array jadi baris terpisah
df_complex.withColumn("Skill", F.explode("Skills")).select("EmployeeName", "Skill").show()

+------------+----------+------+----------------------------+
|EmployeeName|Department|Salary|Skills                      |
+------------+----------+------+----------------------------+
|James       |Sales     |3000  |[Negotiation, Communication]|
|Michael     |Sales     |4600  |[Presentation]              |
|Robert      |Sales     |4100  |[Networking, Communication] |
|Maria       |Finance   |3000  |[Accounting, Excel]         |
|Siti        |IT        |4500  |[Python, Spark, SQL]        |
+------------+----------+------+----------------------------+

+------------+-------------+
|EmployeeName|        Skill|
+------------+-------------+
|       James|  Negotiation|
|       James|Communication|
|     Michael| Presentation|
|      Robert|   Networking|
|      Robert|Communication|
|       Maria|   Accounting|
|       Maria|        Excel|
|        Siti|       Python|
|        Siti|        Spark|
|        Siti|          SQL|
+------------+-------------+

2. StructType (Nested Object)

In [4]:
# Data dengan nested struct (alamat)
data_struct = [
    ('Ali', 'IT', 4000, ('Jakarta', 'DKI Jakarta')),
    ('Budi', 'HR', 3900, ('Bandung', 'Jawa Barat'))
]

schema_struct = StructType([
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Address", StructType([
        StructField("City", StringType(), True),
        StructField("Province", StringType(), True)
    ]), True)
])

df_struct = spark.createDataFrame(data_struct, schema=schema_struct)
df_struct.show(truncate=False)

# Mengakses field dalam struct
df_struct.select("EmployeeName", "Address.City", "Address.Province").show()

+------------+----------+------+----------------------+
|EmployeeName|Department|Salary|Address               |
+------------+----------+------+----------------------+
|Ali         |IT        |4000  |{Jakarta, DKI Jakarta}|
|Budi        |HR        |3900  |{Bandung, Jawa Barat} |
+------------+----------+------+----------------------+

+------------+-------+-----------+
|EmployeeName|   City|   Province|
+------------+-------+-----------+
|         Ali|Jakarta|DKI Jakarta|
|        Budi|Bandung| Jawa Barat|
+------------+-------+-----------+

3. MapType (Key-Value Pair)

In [5]:
from pyspark.sql.types import MapType

data_map = [
    ('Citra', 'HR', 3500, {"Hobby": "Reading", "Status": "Full-time"}),
    ('Dina', 'Marketing', 4200, {"Hobby": "Traveling", "Status": "Contract"})
]

schema_map = StructType([
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("ExtraInfo", MapType(StringType(), StringType()), True)
])

df_map = spark.createDataFrame(data_map, schema=schema_map)
df_map.show(truncate=False)

# Mengakses nilai dalam map
df_map.select("EmployeeName", F.col("ExtraInfo.Hobby"), F.col("ExtraInfo.Status")).show()

+------------+----------+------+----------------------------------------+
|EmployeeName|Department|Salary|ExtraInfo                               |
+------------+----------+------+----------------------------------------+
|Citra       |HR        |3500  |{Status -> Full-time, Hobby -> Reading} |
|Dina        |Marketing |4200  |{Status -> Contract, Hobby -> Traveling}|
+------------+----------+------+----------------------------------------+

+------------+---------+---------+
|EmployeeName|    Hobby|   Status|
+------------+---------+---------+
|       Citra|  Reading|Full-time|
|        Dina|Traveling| Contract|
+------------+---------+---------+

# 4. Operasi Data Lanjutan

In [6]:
from pyspark.sql import Window
from pyspark.sql import functions as F

# 1. WindowSpec berdasarkan Department dan urutkan Salary menurun
windowDept = Window.partitionBy("Department").orderBy(F.desc("Salary"))

# 2. Tambahkan ranking berdasarkan gaji dalam setiap departemen
df_rank = df.withColumn("Rank_in_Dept", F.rank().over(windowDept))
df_rank.show()

# 3. WindowSpec untuk running total gaji per departemen
windowDeptRows = Window.partitionBy("Department").orderBy("Salary").rowsBetween(Window.unboundedPreceding, 0)

df_running = df.withColumn("Running_Total_Salary", F.sum("Salary").over(windowDeptRows))
df_running.show()

# 4. Running total gaji keseluruhan (tanpa partition)
windowAll = Window.orderBy("Salary").rowsBetween(Window.unboundedPreceding, 0)
df_total = df.withColumn("Running_Total_All", F.sum("Salary").over(windowAll))
df_total.show()

+------------+----------+------+------------+
|EmployeeName|Department|Salary|Rank_in_Dept|
+------------+----------+------+------------+
|        Rani|   Finance|  3300|           1|
|       Maria|   Finance|  3000|           2|
|        Budi|        HR|  3900|           1|
|       Citra|        HR|  3500|           2|
|        Siti|        IT|  4500|           1|
|         Ali|        IT|  4000|           2|
|        Dina| Marketing|  4200|           1|
|        Andi| Marketing|  3700|           2|
|     Michael|     Sales|  4600|           1|
|      Robert|     Sales|  4100|           2|
|       James|     Sales|  3000|           3|
+------------+----------+------+------------+

+------------+----------+------+--------------------+
|EmployeeName|Department|Salary|Running_Total_Salary|
+------------+----------+------+--------------------+
|       Maria|   Finance|  3000|                3000|
|        Rani|   Finance|  3300|                6300|
|       Citra|        HR|  3500|                3500|
|        Budi|        HR|  3900|                7400|
|         Ali|        IT|  4000|                4000|
|        Siti|        IT|  4500|                8500|
|        Andi| Marketing|  3700|                3700|
|        Dina| Marketing|  4200|                7900|
|       James|     Sales|  3000|                3000|
|      Robert|     Sales|  4100|                7100|
|     Michael|     Sales|  4600|               11700|
+------------+----------+------+--------------------+

+------------+----------+------+-----------------+
|EmployeeName|Department|Salary|Running_Total_All|
+------------+----------+------+-----------------+
|       James|     Sales|  3000|             3000|
|       Maria|   Finance|  3000|             6000|
|        Rani|   Finance|  3300|             9300|
|       Citra|        HR|  3500|            12800|
|        Andi| Marketing|  3700|            16500|
|        Budi|        HR|  3900|            20400|
|         Ali|        IT|  4000|            24400|
|      Robert|     Sales|  4100|            28500|
|        Dina| Marketing|  4200|            32700|
|        Siti|        IT|  4500|            37200|
|     Michael|     Sales|  4600|            41800|
+------------+----------+------+-----------------+

# 5. Eksplorasi Dataset Kaggle

In [10]:
from google.colab import files

# Upload file dari komputer
uploaded = files.upload()

# Mengecek nama file yang terupload
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['Foodpanda Analysis Dataset.csv']))

# Menampilkan 5 baris awal
df.head()

Saving Foodpanda Analysis Dataset.csv to Foodpanda Analysis Dataset.csv

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

In [14]:
from pyspark.sql import SparkSession

# Buat Spark session
spark = SparkSession.builder.appName("LoadCSV").getOrCreate()

# Baca file CSV ke dalam DataFrame Spark
df_spark = spark.read.csv("Foodpanda Analysis Dataset.csv", header=True, inferSchema=True)

df_spark.show(20)

+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|customer_id|gender|     age|     city|signup_date|order_id|order_date|restaurant_name|dish_name|   category|quantity|  price|payment_method|order_frequency|last_order_date|loyalty_points| churned|rating|rating_date|delivery_status|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|      C5663|  Male|   Adult| Peshawar|  1/14/2024|   O9663| 8/23/2023|     McDonald's|   Burger|    Italian|       5|1478.27|          Cash|             38|      7/19/2025|           238|  Active|     3| 10/14/2024|      Cancelled|
|      C2831|  Male|   Adult|   Multan|   7/7/2024|   O6831| 8/23/2023|            KFC|   Burger|    Italian|       3| 956.04|        Wallet|             24|     11/25/2024|            81|  Active|     2|  8/21/2025|        Delayed|
|      C2851| Other|  Senior|   Multan|  6/20/2025|   O6851| 8/23/2023|      Pizza Hut|    Fries|    Italian|       2| 882.51|          Cash|             42|      5/10/2025|            82|Inactive|     3|  9/19/2024|        Delayed|
|      C1694|Female|  Senior| Peshawar|   9/5/2023|   O5694| 8/23/2023|         Subway|    Pizza|    Dessert|       4|  231.3|          Card|             27|      7/24/2025|            45|Inactive|     2|  6/29/2025|        Delayed|
|      C4339| Other|  Senior|   Lahore| 12/29/2023|   O8339| 8/24/2023|            KFC| Sandwich|    Dessert|       1|1156.69|          Cash|             35|     12/21/2024|           418|Inactive|     3|   3/6/2025|      Cancelled|
|      C6543| Other|   Adult|  Karachi|  9/28/2023|  O10543| 8/24/2023|    Burger King|    Pizza|  Fast Food|       5|1213.62|          Cash|             45|     10/10/2024|           418|Inactive|     4|   6/1/2025|      Delivered|
|      C6423|  Male|   Adult|   Lahore|   4/8/2025|  O10423| 8/24/2023|     McDonald's|    Pasta|Continental|       5| 672.91|        Wallet|             31|      5/25/2025|           347|  Active|     1|   3/4/2025|      Cancelled|
|      C4621|  Male|   Adult| Peshawar|   2/5/2024|   O8621| 8/24/2023|      Pizza Hut|    Pizza|    Chinese|       2| 271.74|          Cash|             14|       5/1/2025|           429|  Active|     2|  9/30/2024|      Delivered|
|      C5146| Other|  Senior|  Karachi| 12/17/2024|   O9146| 8/24/2023|            KFC|    Pizza|    Dessert|       5| 596.96|        Wallet|              1|      5/16/2025|            24|  Active|     4| 10/27/2024|        Delayed|
|      C3579|  Male|   Adult|  Karachi| 10/13/2023|   O7579| 8/24/2023|      Pizza Hut|    Pizza|Continental|       2|1443.25|          Cash|             15|      2/23/2025|           270|Inactive|     3| 10/11/2024|        Delayed|
|      C5535|  Male|   Adult|   Lahore|  7/30/2025|   O9535| 8/24/2023|         Subway| Sandwich|Continental|       2| 645.52|          Cash|             32|       4/8/2025|           133|  Active|     4|  12/5/2024|        Delayed|
|      C3894|Female|  Senior|   Multan|  1/24/2025|   O7894| 8/24/2023|    Burger King|   Burger|  Fast Food|       1| 126.53|        Wallet|             45|      9/26/2024|            48|Inactive|     2|  8/20/2025|      Cancelled|
|      C4071|  Male|  Senior|Islamabad| 12/27/2024|   O8071| 8/24/2023|         Subway|    Pizza|    Italian|       1| 465.75|          Card|             29|     12/26/2024|           394|  Active|     4|  4/16/2025|      Cancelled|
|      C4231|Female|  Senior|   Multan|  4/11/2025|   O8231| 8/24/2023|    Burger King| Sandwich|Continental|       3| 796.91|        Wallet|             39|     11/12/2024|             5|Inactive|     5|  2/27/2025|      Delivered|
|      C3914|  Male|Teenager|Islamabad| 11/29/2023|   O7914| 8/24/2023|            KFC|    Pizza|  Fast Food|       4|1140.76|        Wallet|             23|      4/22/2025|           492|Inactive|     5|  4/19/2025|        Delayed|
|      C5681| Other|   Adult|Islamabad| 11/25/2024|   O9681| 8/25/2023|         Subway|    Pizza|Continental|       1|1285.18|          Cash|             10|       4/9/2025|           196|Inactive|     2|  6/10/2025|        Delayed|
|      C4975|Female|Teenager|  Karachi|  6/20/2025|   O8975| 8/25/2023|    Burger King|   Burger|    Dessert|       1| 673.86|        Wallet|             38|       7/7/2025|           439|Inactive|     2|   7/9/2025|      Delivered|
|      C2876|Female|  Senior|Islamabad| 12/30/2024|   O6876| 8/25/2023|            KFC|   Burger|    Chinese|       2| 330.93|          Cash|             45|      7/17/2025|           455|  Active|     2| 11/28/2024|      Cancelled|
|      C6144| Other|Teenager| Peshawar|   8/5/2024|  O10144| 8/25/2023|         Subway|    Pasta|  Fast Food|       2| 991.17|        Wallet|              6|      4/22/2025|           101|  Active|     2|  3/27/2025|      Cancelled|
|      C5092|Female|   Adult|   Lahore|  10/5/2023|   O9092| 8/25/2023|         Subway|    Pasta|    Chinese|       1|1485.16|          Card|             46|      4/24/2025|           171|Inactive|     3|   8/5/2025|        Delayed|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
only showing top 20 rows

In [16]:
from pyspark.sql import SparkSession

# Buat Spark session
spark = SparkSession.builder.appName("LoadCSV").getOrCreate()

# Baca file CSV ke dalam DataFrame Spark
df_spark = spark.read.csv("Foodpanda Analysis Dataset.csv", header=True, inferSchema=True)

df_spark.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)
 |-- signup_date: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- restaurant_name: string (nullable = true)
 |-- dish_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- order_frequency: integer (nullable = true)
 |-- last_order_date: string (nullable = true)
 |-- loyalty_points: integer (nullable = true)
 |-- churned: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- rating_date: string (nullable = true)
 |-- delivery_status: string (nullable = true)

In [20]:
# Rata-rata umur pelanggan berdasarkan gender
from pyspark.sql.functions import avg, max, min, count

df.groupBy("gender").agg(
    avg("age").alias("Avg_Age"),
    max("age").alias("Max_Age"),
    min("age").alias("Min_Age"),
    count("*").alias("Total_Customers")
).show()

+------+-------+--------+-------+---------------+
|gender|Avg_Age| Max_Age|Min_Age|Total_Customers|
+------+-------+--------+-------+---------------+
|Female|   NULL|Teenager|  Adult|           2018|
|  Male|   NULL|Teenager|  Adult|           2017|
| Other|   NULL|Teenager|  Adult|           1965|
+------+-------+--------+-------+---------------+

In [21]:
# Total order berdasarkan kategori makanan
df.groupBy("category").agg(
    count("*").alias("Total_Orders")
).show()

+-----------+------------+
|   category|Total_Orders|
+-----------+------------+
|    Chinese|        1198|
|Continental|        1211|
|  Fast Food|        1222|
|    Italian|        1236|
|    Dessert|        1133|
+-----------+------------+

In [22]:
# Jumlah pesanan per customer
df.groupBy("customer_id").agg(
    count("order_id").alias("Total_Orders")
).orderBy("Total_Orders", ascending=False).show()

+-----------+------------+
|customer_id|Total_Orders|
+-----------+------------+
|      C1842|           1|
|      C1875|           1|
|      C6966|           1|
|      C1524|           1|
|      C2100|           1|
|      C4276|           1|
|      C1100|           1|
|      C2777|           1|
|      C4202|           1|
|      C5169|           1|
|      C6678|           1|
|      C1602|           1|
|      C5733|           1|
|      C5236|           1|
|      C4980|           1|
|      C6521|           1|
|      C2430|           1|
|      C4932|           1|
|      C2983|           1|
|      C2207|           1|
+-----------+------------+
only showing top 20 rows